// Place all the styles related to the sleeps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer {
  font-style: italic;
  color: #6F6F6F;
  font-size: 10px;
}